<!DOCTYPE html>
<html lang ="ja">
  <head>
    <meta charset="UTF-8">
    <title>フォーム</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
  </head>
  <body>
    <form action="list" method="get">
      <input type="text" name="x" id="x" placeholder="x">
      <input type="text" name="y" id="y" placeholder="y">
      <input type="submit" value="検索" class ="btn btn-primary">
    </form>
    <h2>検索履歴</h2>
    <table>
      <% @histories.each do |history| %>
        <tr>
          <td><%= histories.x %>, <%= histories.y %></td>
        </tr>
      <% end %>
    </table>
  </body>
</html>