<!DOCTYPE html>
<html lang ="ja">
  <head>
    <meta charset="UTF-8">
    <title>フォーム</title>
  </head>
  <body>
    <form action="list" method="get">
      <input type="text" name="x" id="x" placeholder="x" />
      <input type="text" name="y" id="y" placeholder="y" />
      <input type="submit" value="検索" />
    </form>
  </body>
</html>