<% unless session[:user] %>
<a href="/signin">ログイン</a> <a href="/signup">新規登録</a>
<h2>未ログイン</h2>
<% else %>
<a href="/signout">ログアウト</a>
<h2>
	<%= User.find(session[:user]).mail %>としてログイン</h2>
<% end %>

<%# <!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<title>タイトル</title>
</head>
<body>
</body>
</html> %>