<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <title>Shopping</title>
    <link rel="stylesheet" href="/assets/stylesheets/bootstrap.css">
  </head>
  <body>
    <%= yield %>



  </body>
</html>
